.homeNavbar {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.homeNavItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 32px 0px;
}

.homeNavLogo {
    font-size: 48px;
    text-decoration: none;
    list-style-type: none;
    color: #F7F9FB;
}

.homeNavItem {
    text-decoration: none;
    list-style-type: none;
    color: #F7F9FB;
}

.homeDisplay {
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%; 
    object-fit: fill;
    background-color: #333333;
}

.homeVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    height: auto;
    min-width: 100%; 
    min-height: 100%; 
}